* {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    width: 90vw;
    border: 2px solid #333;
    border-radius: 4px;
    margin: 3em auto;
    padding-bottom: 3em;
    text-align: center;
}

.wrapper .side-decor {
    position: relative;
}

.wrapper #side-decor-1 img {
    width: 75px;
    position: absolute;
    right: 0px;
}
.wrapper #side-decor-2 img {
    width: 75px;
    position: absolute;
    top: 2.1em;
    left: 0px;
}
.wrapper #side-decor-3 img {
    width: 75px;
    position: absolute;
    top: 2.1em;
    right: 0px;
}
.wrapper #side-decor-4 img {
    width: 75px;
    position: absolute;
    bottom: -48px;
    left: 0px;
}
.wrapper .heading {
    margin-bottom: 2em;
}

.wrapper .heading div {
    display: flex;
    justify-content: center;
}

.wrapper .heading div h1 {

    background-color: #cb6be6;
    color: #fff;
    width: 200px;
    font-size: 22px;
    padding: 5px;
    border-radius: 4px;
    transition: 0.2s;
}

.wrapper .heading div h1:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.wrapper .heading hr {
    display: inline-block;
    width: 25px;
    margin-top: 35px;
    height: 2px;
    background-color: #cb6be6;
}

.wrapper .heading h1,
p,
hr,
h2 {
    margin-top: 1em;
}

.wrapper section {
    display: flex;
    flex-direction: column;
}

.wrapper section>div:nth-child(1) {
    display: flex;
    justify-content: center;
}

.wrapper section>div:nth-child(1) h1 {
    width: 430px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 35px;
    margin-top: 35px;
    color: #fff;
    background-color: #cb6be6;

    transition: 0.2s;
}

.wrapper section>div:nth-child(1) h1:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.wrapper .user-list {
    display: flex;
    justify-content: center;
    margin-bottom: 5.5em;
    padding: 5px;
    border-radius: 5px
}

.wrapper .user-list>div {
    width: 125px;
    height: 125px;
    margin: 25px 40px;
}

.wrapper .user-list img {
    width: 100%;
    margin-bottom: 1em;
    transition: 0.2s;
}

.wrapper .user-list img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.wrapper .user-list>div b {
    display: block;
    width: 125px;
}

.wrapper .user-list>div span {
    font-size: 13px;
    font-style: italic;
    color: #cb6be6;
    font-weight: 600;
}

@media (max-width:880px) {
    .wrapper .user-list {
        flex-wrap: wrap
    }

    .wrapper .user-list>div {
        margin-bottom: 4em;
    }
    @media (max-width:774px){
        .wrapper section>div:nth-child(1) h1{
            width: 340px;
        }
    }
    @media (max-width:650px){
        .wrapper section>div:nth-child(1) h1{
            width: 230px;
            font-size: 16px;
        }
    }
}
@media (max-width:497px) {
    .wrapper .side-decor img{
        height: 40px;
        width: 20px !important; 
     }
}